## Quiz

In [1]:
from bs4 import BeautifulSoup
import os
import pandas as pd

In [2]:
# List of dictionaries to build file by file and later convert to a DataFrame
df_list = []
folder = 'D:/منح ودورات اونلاين - NTL - FWD - Udacity - Coursera - edX - LinkedIn/Udacity/FWD/Data Professional Track/4. Data Wrangling/2 Gathering Data/rt_html'
for movie_html in os.listdir(folder):
    with open(os.path.join(folder, movie_html)) as file:
        # Your code here
        # Note: a correct implementation may take ~15 seconds to run
        soup = BeautifulSoup(file,'lxml')
        title = soup.find('title').contents[0][:-len(' - Rotten Tomatoes')].replace('أ©','é').replace('أ´','ô')
        audience_score = soup.find('span',attrs={"style":"vertical-align:top",
                                                 "class":"superPageFontColor"}).contents[0].strip('%')
        num_audience_ratings = soup.find('div',attrs={ 'class':"audience-info hidden-xs superPageFontColor"}).contents[3].contents[2].strip().replace(',','')
        # Append to list of dictionaries
        df_list.append({'title': title,
                        'audience_score': int(audience_score),
                        'number_of_audience_ratings': int(num_audience_ratings)})
df = pd.DataFrame(df_list, columns = ['title', 'audience_score', 'number_of_audience_ratings'])

In [3]:
df

,title,audience_score,number_of_audience_ratings
0,12 Angry Men (Twelve Angry Men) (1957),97,103672
1,The 39 Steps (1935),86,23647
2,The Adventures of Robin Hood (1938),89,33584
3,All About Eve (1950),94,44564
4,All Quiet on the Western Front (1930),89,17768
...,...,...,...
95,Up (2009),90,1201878
96,Vertigo (1958),93,101454
97,The Wages of Fear (1953),95,8536
98,Wonder Woman (2017),90,112955
99,Zootopia (2016),92,98633

## Solution Test
Run the cell below the see if your solution is correct. If an `AssertionError` is thrown, your solution is incorrect. If no error is thrown, your solution is correct.

In [4]:
df_solution = pd.read_pickle('D:/منح ودورات اونلاين - NTL - FWD - Udacity - Coursera - edX - LinkedIn/Udacity/FWD/Data Professional Track/4. Data Wrangling/2 Gathering Data/df_solution.pkl')
df.sort_values('title', inplace = True)
df.reset_index(inplace = True, drop = True)
df_solution.sort_values('title', inplace = True)
df_solution.reset_index(inplace = True, drop = True)
pd.testing.assert_frame_equal(df, df_solution)

In [105]:
(df == df_solution).all()

title                         True
audience_score                True
number_of_audience_ratings    True
dtype: bool

### Other testings

In [6]:
os.listdir(folder)

['dr_strangelove.html',
 '1007818-frankenstein.html',
 '1000626-all_about_eve.html',
 'roman_holiday.html',
 'night_of_the_hunter.html',
 'toy_story.html',
 'treasure_of_the_sierra_madre.html',
 'skyfall.html',
 'the_wrestler.html',
 'star_trek_11.html',
 'the_dark_knight.html',
 '1000355-adventures_of_robin_hood.html',
 'wages_of_fear.html',
 'rosemarys_baby.html',
 'the_cabinet_of_dr_caligari.html',
 'la_confidential.html',
 'star_wars_episode_vii_the_force_awakens.html',
 'army_of_shadows.html',
 'rashomon.html',
 'pinocchio_1940.html',
 'repulsion.html',
 'jaws.html',
 'the_wizard_of_oz_1939.html',
 '400_blows.html',
 'hell_or_high_water.html',
 'la_la_land.html',
 'manchester_by_the_sea.html',
 'harry_potter_and_the_deathly_hallows_part_2_2011.html',
 '1046060-high_noon.html',
 'taxi_driver.html',
 'toy_story_3.html',
 'wonder_woman_2017.html',
 'philadelphia_story.html',
 'last_picture_show.html',
 '12_years_a_slave.html',
 '1000013-12_angry_men.html',
 'the_third_man.html',
 '1000642-all_quiet_on_the_western_front.html',
 '1020333-streetcar_named_desire.html',
 '1013139-maltese_falcon.html',
 'tokyo_story.html',
 'battleship_potemkin.html',
 'mad_max_fury_road.html',
 'modern_times.html',
 'gone_with_the_wind.html',
 'dunkirk_2017.html',
 'apocalypse_now.html',
 'inside_out_2015.html',
 'bicycle_thieves.html',
 'seven_samurai_1956.html',
 'alien.html',
 'zootopia.html',
 'baby_driver.html',
 'moonlight_2016.html',
 'sunset_boulevard.html',
 'the_conformist.html',
 'godfather.html',
 'selma.html',
 '1017293-rebecca.html',
 '1003707-casablanca.html',
 'north-by-northwest.html',
 'argo_2012.html',
 'gravity_2013.html',
 'citizen_kane.html',
 'arrival_2016.html',
 'spotlight_2015.html',
 'boyhood.html',
 'nosferatu.html',
 '1012007-laura.html',
 'logan_2017.html',
 'the_babadook.html',
 'grapes_of_wrath.html',
 'it_happened_one_night.html',
 'the_big_sick.html',
 'on_the_waterfront.html',
 'singin_in_the_rain.html',
 'man_on_wire.html',
 'la_grande_illusion.html',
 'open_city.html',
 '1048445-snow_white_and_the_seven_dwarfs.html',
 '1017289-rear_window.html',
 '1012928-m.html',
 'brooklyn.html',
 'toy_story_2.html',
 '1000121-39_steps.html',
 'finding_nemo.html',
 'psycho.html',
 'et_the_extraterrestrial.html',
 '1013775-metropolis.html',
 'the_battle_of_algiers.html',
 'bride_of_frankenstein.html',
 'beatles_a_hard_days_night.html',
 '1021749-touch_of_evil.html',
 'the_good_the_bad_and_the_ugly.html',
 'vertigo.html',
 'godfather_part_ii.html',
 'up.html',
 'the_jungle_book_2016.html',
 'get_out.html',
 '1011615-king_kong.html']

In [22]:
####   my tryings
#import locale
#locale.setlocale(locale.encodings,'Windows-1252')
folder = 'D:/منح ودورات اونلاين - NTL - FWD - Udacity - Coursera - edX - LinkedIn/Udacity/FWD/Data Professional Track/4. Data Wrangling/2 Gathering Data/rt_html'
#for movie_html in os.listdir('rt_html'):
with open(os.path.join(folder, 'tokyo_story.html')) as file:
        #audience_score = soup.find('span',attrs={'superPageFontColor'}).contents[0].contents
    soup = BeautifulSoup(file,'lxml')
    print(soup.find('title').contents[0][:-len(' - Rotten Tomatoes')].replace('أ©','é').replace('أ´','ô'))
    print(soup.find('span',attrs={"style":"vertical-align:top",
                                      "class":"superPageFontColor"}).contents[0].strip('%'))
    print(int(soup.find('div',attrs={ 'class':"audience-info hidden-xs superPageFontColor"}).contents[3].contents[2].strip().replace(',','')))

Tokyo Story (Tôkyô monogatari) (1953)
93
11325

##### *After adjusting non-Unicode characters in 'title', both 'DataFrames' had the same values in all columns:*

`title = soup.find('title').contents[0][:-len(' - Rotten Tomatoes')].replace('أ©','é').replace('أ´','ô')`

##### *Before adjusting non-Unicode characters in 'title', both 'DataFrames' weren't the same, and the 'title' column had different three values per each because of the "latin-1" letters encoded in undesired way, and the cells below show:*

In [6]:
set(df_solution.title)-set(df.title)

{"Army of Shadows (L'Armée des ombres)\xa0(1969)",
 'Rashômon\xa0(1951)',
 'Tokyo Story (Tôkyô monogatari)\xa0(1953)'}

In [16]:
set(df.title)-set(df_solution.title)

{"Army of Shadows (L'Armأ©e des ombres)\xa0(1969)",
 'Rashأ´mon\xa0(1951)',
 'Tokyo Story (Tأ´kyأ´ monogatari)\xa0(1953)'}

In [3]:
df_solution = pd.read_pickle('D:/منح ودورات اونلاين - NTL - FWD - Udacity - Coursera - edX - LinkedIn/Udacity/FWD/Data Professional Track/4. Data Wrangling/2 Gathering Data/df_solution.pkl')
df.sort_values('title', inplace = True)
df.reset_index(inplace = True, drop = True)
df_solution.sort_values('title', inplace = True)
df_solution.reset_index(inplace = True, drop = True)
pd.testing.assert_frame_equal(df, df_solution)

AssertionError: DataFrame.iloc[:, 0] (column name="title") are different

DataFrame.iloc[:, 0] (column name="title") values are different (3.0 %)
[index]: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
[left]:  [12 Angry Men (Twelve Angry Men) (1957), 12 Years a Slave (2013), A Hard Day's Night (1964), A Streetcar Named Desire (1951), Alien (1979), All About Eve (1950), All Quiet on the Western Front (1930), Apocalypse Now (1979), Argo (2012), Army of Shadows (L'Armأ©e des ombres) (1969), Arrival (2016), Baby Driver (2017), Battleship Potemkin (1925), Bicycle Thieves (Ladri di biciclette) (1949), Boyhood (2014), Brooklyn (2015), Casablanca (1942), Citizen Kane (1941), Dr. Strangelove Or How I Learned to Stop Worrying and Love the Bomb (1964), Dunkirk (2017), E.T. The Extra-Terrestrial (1982), Finding Nemo (2003), Frankenstein (1931), Get Out (2017), Gone With the Wind (1939), Gravity (2013), Harry Potter and the Deathly Hallows - Part 2 (2011), Hell or High Water (2016), High Noon (1952), Inside Out (2015), It Happened One Night (1934), Jaws (1975), King Kong (1933), L.A. Confidential (1997), La Grande illusion (Grand Illusion) (1938), La La Land (2016), Laura (1944), Logan (2017), Mad Max: Fury Road (2015), Man on Wire (2008), Manchester by the Sea (2016), Metropolis (1927), Modern Times (1936), Moonlight (2016), M (1931), North by Northwest (1959), Nosferatu, a Symphony of Horror (Nosferatu, eine Symphonie des Grauens) (Nosferatu the Vampire) (1922), On the Waterfront (1954), Open City (1946), Pinocchio (1940), Psycho (1960), Rashأ´mon (1951), Rear Window (1954), Rebecca (1940), Repulsion (1965), Roman Holiday (1953), Rosemary's Baby (1968), Selma (2015), Seven Samurai (Shichinin no Samurai) (1956), Singin' in the Rain (1952), Skyfall (2012), Snow White and the Seven Dwarfs (1937), Spotlight (2015), Star Trek (2009), Star Wars: Episode VII - The Force Awakens (2015), Sunset Boulevard (1950), Taxi Driver (1976), The 39 Steps (1935), The 400 Blows (Les Quatre cents coups) (1959), The Adventures of Robin Hood (1938), The Babadook (2014), The Battle of Algiers (La Battaglia di Algeri) (1967), The Big Sick (2017), The Bride of Frankenstein (1935), The Cabinet of Dr. Caligari (Das Cabinet des Dr. Caligari) (1920), The Conformist (1970), The Dark Knight (2008), The Godfather, Part II (1974), The Godfather (1972), The Good, the Bad and the Ugly (1966), The Grapes of Wrath (1940), The Jungle Book (2016), The Last Picture Show (1971), The Maltese Falcon (1941), The Night of the Hunter (1955), The Philadelphia Story (1940), The Third Man (1949), The Treasure of the Sierra Madre (1948), The Wages of Fear (1953), The Wizard of Oz (1939), The Wrestler (2008), Tokyo Story (Tأ´kyأ´ monogatari) (1953), Touch of Evil (1958), Toy Story 2 (1999), Toy Story 3 (2010), Toy Story (1995), Up (2009), Vertigo (1958), Wonder Woman (2017), Zootopia (2016)]
[right]: [12 Angry Men (Twelve Angry Men) (1957), 12 Years a Slave (2013), A Hard Day's Night (1964), A Streetcar Named Desire (1951), Alien (1979), All About Eve (1950), All Quiet on the Western Front (1930), Apocalypse Now (1979), Argo (2012), Army of Shadows (L'Armée des ombres) (1969), Arrival (2016), Baby Driver (2017), Battleship Potemkin (1925), Bicycle Thieves (Ladri di biciclette) (1949), Boyhood (2014), Brooklyn (2015), Casablanca (1942), Citizen Kane (1941), Dr. Strangelove Or How I Learned to Stop Worrying and Love the Bomb (1964), Dunkirk (2017), E.T. The Extra-Terrestrial (1982), Finding Nemo (2003), Frankenstein (1931), Get Out (2017), Gone With the Wind (1939), Gravity (2013), Harry Potter and the Deathly Hallows - Part 2 (2011), Hell or High Water (2016), High Noon (1952), Inside Out (2015), It Happened One Night (1934), Jaws (1975), King Kong (1933), L.A. Confidential (1997), La Grande illusion (Grand Illusion) (1938), La La Land (2016), Laura (1944), Logan (2017), Mad Max: Fury Road (2015), Man on Wire (2008), Manchester by the Sea (2016), Metropolis (1927), Modern Times (1936), Moonlight (2016), M (1931), North by Northwest (1959), Nosferatu, a Symphony of Horror (Nosferatu, eine Symphonie des Grauens) (Nosferatu the Vampire) (1922), On the Waterfront (1954), Open City (1946), Pinocchio (1940), Psycho (1960), Rashômon (1951), Rear Window (1954), Rebecca (1940), Repulsion (1965), Roman Holiday (1953), Rosemary's Baby (1968), Selma (2015), Seven Samurai (Shichinin no Samurai) (1956), Singin' in the Rain (1952), Skyfall (2012), Snow White and the Seven Dwarfs (1937), Spotlight (2015), Star Trek (2009), Star Wars: Episode VII - The Force Awakens (2015), Sunset Boulevard (1950), Taxi Driver (1976), The 39 Steps (1935), The 400 Blows (Les Quatre cents coups) (1959), The Adventures of Robin Hood (1938), The Babadook (2014), The Battle of Algiers (La Battaglia di Algeri) (1967), The Big Sick (2017), The Bride of Frankenstein (1935), The Cabinet of Dr. Caligari (Das Cabinet des Dr. Caligari) (1920), The Conformist (1970), The Dark Knight (2008), The Godfather, Part II (1974), The Godfather (1972), The Good, the Bad and the Ugly (1966), The Grapes of Wrath (1940), The Jungle Book (2016), The Last Picture Show (1971), The Maltese Falcon (1941), The Night of the Hunter (1955), The Philadelphia Story (1940), The Third Man (1949), The Treasure of the Sierra Madre (1948), The Wages of Fear (1953), The Wizard of Oz (1939), The Wrestler (2008), Tokyo Story (Tôkyô monogatari) (1953), Touch of Evil (1958), Toy Story 2 (1999), Toy Story 3 (2010), Toy Story (1995), Up (2009), Vertigo (1958), Wonder Woman (2017), Zootopia (2016)]